.modal {
  max-height: calc(100% - 100px);
  transform: translate(0, -50%);
}

#exercise {
  letter-spacing: 0.05em;
  line-height: 1.25em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

#exercise span.line {
  display: block;
  min-height: 1.25em;
}

#exercise .text {
  font-size: 4em;
}

#exercise .text .incorrect {
  background: #FF0000;
  color: #880000 !important;
}

#exercise .text .after-incorrect {
  background: #FF8888;
}

#exercise .text .cursor {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #00FF00;
}

#exercise .text .character-untyped {
  color: #888888;
}

#exercise .text .character-typed {
  color: #000000;
}

#exercise .text .whitespace-untyped {
  color: #888888;
}

#exercise .text .whitespace-typed {
  color: #FFFFFF;
}